<%- include("partials/_header"); %>
  <%- include("partials/_navigation"); %>
    <div class="home-container">

      <div class="container">
        <div class="row row--top-40">
          <div class="col-md-10 offset-1">
            <h2 class="row__title">Home</h2>
          </div>
        </div>
        <div class="row row--top-20">
          <div class="col-md-10 offset-1">
            <div class="table-container">
              <table class="table">
                <tbody class="table__tbody">
                  <% for(let i=(shared.length-1); i>= 0; i--) { %>
                    <tr class="table-row">
                      <td class="table-row__td">
                        <div class="table-row__info">
                          <p class="table-row__name">
                            <a href="/users/datas/<%= shared[i].id %>" class="table-row__name">
                              <b>
                                <%= shared[i].name %>&nbsp;&nbsp;
                              </b>
                            </a>
                            <span>&#8226; <%= shared[i].type %></span>
                          </p>
                          <p class=" table-row__description">
                            <%= shared[i].description %>

                          </p>
                          <div class="post-footer">
                            <div class="icons">
                              <a href="/users/likes/<%= shared[i].id %>?_method=PUT">
                                <span class="fa-stack small" style="font-size: 1rem;">
                                  <span class="fa-regular fa-heart fa-stack-2x"
                                    style="color:rgba(216, 209, 143, 0.7);"></span>
                                  <strong class="fa-stack-1x" style="color:rgba(216, 209, 143, 0.7); font-size: 78%">
                                    <%= shared[i].likes %>
                                  </strong>
                                </span>
                              </a>
                              <a href="/users/datas/<%= shared[i].id %>">
                                <span class="fa-stack small" style="font-size: 1rem;">
                                  <span class="far fa-comment fa-stack-2x"
                                    style="color:rgba(216, 209, 143, 0.7);"></span>
                                  <strong class="fa-stack-1x" style="color:rgba(216, 209, 143, 0.7); font-size: 78%">
                                    <%= shared[i].comments %>
                                  </strong>
                                </span>
                              </a>
                            </div>
                            <p class="shared-user"> <span>shared by</span>
                              <b>
                                <% const yaz=users.find((item)=> {return item.id == shared[i].user_id; }); %>
                                  <%= yaz.name %>
                                    <%= yaz.surname %>
                              </b>
                            </p>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include("partials/_footer"); %>