<%- include("partials/_header"); %>
  <div class="home-container">
    <div class="container">
      <div class="row row--top-40">
        <div class="col-md-12">
          <h2 class="row__title">Movies (<%= movies.length %>)</h2>
        </div>
      </div>
      <div class="row row--top-20">
        <div class="col-md-12">
          <div class="table-container">
            <table class="table">
              <thead class="table__thead">
                <opttr>
                  <th class="table__th">Name</th>
                  <th class="table__th">Description</th>
                </opttr>
              </thead>
              <tbody class="table__tbody">
                <% for(let i=0; i < movies.length; i++) { %>
                  <tr class="table-row">
                    <td class="table-row__td">
                      <div class="table-row__info">
                        <p class="table-row__name">
                          <%= movies[i].name %>
                            <%= movies[i].description %>
                        </p>
                      </div>
                      <a href="/users/movies/<%= movies[i].id %>" class="position-absolute tm-img-overlay">
                        <i class="fas fa-play tm-overlay-icon">ac</i>
                      </a>
                    </td>
                    <td class="table-row__td">
                      <div class="table-row__info">
                        <div class="text-center">
                          <a href="/users/movies/<%= movies[i].id %>?_method=DELETE"
                            class="btn btn-danger p-0 tm-btn-animate tm-btn-download tm-icon-download"
                            onclick="return confirm('Are you sure?')"><span>Delete
                              Movie</span></a>
                        </div>
                      </div>
                    </td>
                    <td class="table-row__td">
                      <div class="table-row__info">
                        <div class="text-center">
                          <a href="/users/movies/edit/<%= movies[i].id %>"
                            class="btn btn-primary p-0 mb-4 tm-btn-animate tm-btn-download tm-icon-download"><span>Update
                              Details</span></a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include("partials/_footer"); %>
