<%- include("partials/_header"); %>
  <div class="home-container">
    <%- include("partials/_navigation"); %>
      <div class="container">
        <div class="col-md-12 row row--top-40 data-header">
          <div class="">
            <h2 class="row__title">Your Favorite Movies (<%= movies.length %>)</h2>
          </div>
          <div class="text-center">
            <a href="/users/add_movie"><i class="fa-solid fa-circle-plus fa-2x"></i></a>
          </div>
        </div>
        <div class="row row--top-20">
          <div class="col-md-12">
            <div class="table-container">
              <table class="table">
                <thead class="table__thead">
                  <opttr>
                    <th class="table__th">Movie</th>
                    <th class="table__th">Delete</th>
                    <th class="table__th">Update</th>
                    <th class="table__th">Share</th>
                  </opttr>
                </thead>
                <tbody class="table__tbody">
                  <% for(let i=0; i < movies.length; i++) { %>
                    <tr class="table-row">
                      <td class="table-row__td" style="display: flex; flex-direction: column;">
                        <div class="table-row__info">
                          <a href="/users/datas/<%= movies[i].id %>" class="tm-img-overlay">
                            <p class="table-row__name">
                              <b>
                                <%= movies[i].name %>
                              </b>
                            </p>
                          </a>
                        </div>
                        <div class="table-row__info">
                          <p class="table-row__description">
                            <%= movies[i].description %>
                          </p>
                        </div>
                      </td>
                      <td class="table-row__td">
                        <div class="">
                          <div class="text-center">
                            <a href="/users/datas/<%= movies[i].id %>?_method=DELETE" class=""
                              onclick="return confirm('Are you sure?')"><i class="fa-solid fa-trash-can fa-lg"></i></a>
                          </div>
                        </div>
                      </td>
                      <td class="table-row__td">
                        <div class="">
                          <div class="text-center">
                            <a href="/users/datas/edit/<%= movies[i].id %>" class=""><i
                                class="fa-solid fa-pencil fa-lg"></i></a>
                          </div>
                        </div>
                      </td>
                      <td class="table-row__td">
                        <div class="">
                          <div class="text-center">
                            <a href="/users/share/<%= movies[i].id %>" class=""><i
                                class="fa-solid fa-share-from-square fa-lg"></i></a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
  <%- include("partials/_footer"); %>